<div class="container">
    <h1><pre>Syllabus: </pre></h1>
    <span>
  
    </span>
    <span></span>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Number of Question</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>History</td>
          <td>12 Approx</td>
          <td><a class="nav-link" routerLink="/FreePractice" routerLinkActive="active">Start Learning</a></td>
        </tr>
        <tr>
            <td>Apptitude</td>
            <td>20 Approx</td>
            <td><a class="nav-link" routerLink="/FreePractice" routerLinkActive="active">Start Learning</a></td>
        </tr>
        <tr>
            <td>Maths</td>
            <td>12 Approx</td>
            <td><a class="nav-link" routerLink="/FreePractice" routerLinkActive="active">Start Learning</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  