
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
            
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
<!-- Carousel Slider -->

<!-- Card -->
<div class="container container mt-4 mb-5">
    <h3 class="display-4 text-center"> Testimonials </h3>
    <hr class="bg-dark mb-4 w-25">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                
                <div class="card-block p-3">
                    <h4 class="card-title">amit</h4>
                    <p class="card-text">it is a wonderful plateform for learning.</p>
                    <!-- <a href="#" class="btn btn-primary rounded-0 mb-2">Read More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                
                <div class="card-block p-3">
                    <h4 class="card-title">sikandar</h4>
                    <p class="card-text">Thanks to upscbook to clear all my confusions.</p>
                    <!-- <a href="#" class="btn btn-primary rounded-0 mb-2">Read More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                
                <div class="card-block p-3">
                    <h4 class="card-title">kartik</h4>
                    <p class="card-text">feeling good after seeing that platform.</p>
                    <!-- <a href="#" class="btn btn-primary rounded-0 mb-2">Read More</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Card -->





<!-- Footer -->
